#product-overview {
  color: #fff;
  background: linear-gradient(to top, rgba(80, 68, 18, 0.7) 10%, transparent), url('../images/freedom.jpg') left 0% bottom 80%/cover no-repeat border-box, radial-gradient(ellipse 50px 100px at 20% 50%, red, white, blue), #C2185B;
  /* background-image: radial-gradient(ellipse 50px 100px at 20% 50%, red, white, blue); */
  width: 100vw;
  height: 66vh;
  /* height: calc(100vh - 143px); */
  padding: 1.25rem;
  margin-top: 0;
  position: relative;
}
.section-title {
  color: #4CAF50;
  text-align: center;
}
#product-overview h1 {
  color: white;
  font-family: Anton, sans-serif;
  position: absolute;
  left: 2rem;
  bottom: 25%;
}
.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}
.plan {
  background: #C8E6C9;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.plan--highlighted {
  background: #689F38;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.plan__annotation {
  background: #fff;
  color: #388E3C;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.plan__title {
  color: #388E3C;
}
.plan--highlighted .plan__title {
  color: #fff;
}
.plan__price {
  color: #555;
}
.plan--highlighted .plan__price {
  color: #388E3C;
}
.plan__conditions {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan__condition {
  margin: 0.5rem 0;
}

#key-features {
  background: #E91E63;
  margin-top: 5rem;
}
#key-features .section-title {
  color: #fff;
  margin: 2rem;
  padding: 1rem;
}
.key-features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.key-feature__image {
  background: #FCE4EC;
  width: 128px;
  height: 128px;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
}
.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 1.25rem;
}
