main {
  padding-top: 2rem;
}
.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(70%);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.package {
  background: rgba(104, 159, 56, 0.95);
  border: 4px solid var(--dark-green);
  border-left: none;
  margin: 1rem 0;
  width: 80%;
  position: relative;
  font-family: inherit;
  overflow: hidden;
}
.package:hover {
  animation: jumpup 100ms ease-out alternate;
}

.package:hover,
.package:active {
  border-color: #D50000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.package a {
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.package .package__title {
  color: #212121;
}
.package .package__subtitle {
  color: #757575;
}
#plus .package__subtitle {
  color: #fff;
}

.package__badge {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem;
  background: #D50000;
  transform: rotate(45deg) translate(3.3rem, -0.6rem);
  width: 12rem;
  text-align: center;
}
.package .package__text {
  background: #fff;
  color: var(--dark-green);
  border: 2px solid var(--dark-green);
  padding: 1rem;
}

.package__text {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5rem;
}
#free {
  background: rgba(200, 230, 201, 0.95);
  float: right;
  border: 4px solid var(--dark-green);
  border-right: none;
  text-align: right;
}
#free:hover,
#free:active {
  border-color: #D50000;
}
.clearfix {
  clear: both;
}
#premium {
  /* background: var(--dark-green); */
  background: rgba(56, 142, 60, 0.95);
}
#premium h1 {
  color: #fff;
}
#premium h2 {
  color: #BDBDBD;
}
@media (min-width: 729px) {
  main {
    max-width: 90rem;
    margin: 0 auto;
  }
}
@media (min-width: 58rem) {
  .package {
    border: 4px solid var(--dark-green);
  }
  #free {
    border: 4px solid var(--dark-green);
  }
}
@keyframes jumpup {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(2%);
  }
}
