main {
  padding-top: 32px;
}
.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(70%);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.package {
  /* background: #8BC34A; */
  background: rgba(104, 159, 56, 0.95);
  border: 4px solid #388E3C;
  border-left: none;
  margin: 16px 0;
  width: 80%;
  position: relative;
}
.package:hover,
.package:active {
  border-color: #D50000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.package a {
  text-decoration: none;
  display: block;
  padding: 32px;
}
.package .package__title {
  color: #212121;
}
.package .package__subtitle {
  color: #757575;
}
#plus .package__subtitle {
  color: #fff;
}

.package__badge {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
  padding: 8px;
  background: #D50000;
}
.package .package__text {
  background: #fff;
  color: #388E3C;
  border: 2px solid #388E3C;
  padding: 16px;
}
#free {
  /* background: #C8E6C9; */
  background: rgba(200, 230, 201, 0.95);
  float: right;
  border-right: none;
  border-left: 4px solid #388E3C;
  text-align: right;
}
#free:hover,
#free:active {
  border-color: #D50000;
}
.clearfix {
  clear: both;
}
#premium {
  /* background: #388E3C; */
  background: rgba(56, 142, 60, 0.95);
}
#premium h1 {
  color: #fff;
}
#premium h2 {
  color: #BDBDBD;
}
