/* colors */
/* .dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 117px auto fit-content(8rem);
}
main {
  grid-row: 2/3;
}

.backdrop {
  position: fixed;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.main-header {
  width: 100%;
  background-color: #8BC34A;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand {
  color: #388E3C;
  text-decoration: none;
}
.main-header__brand img {
  height: 3rem;
}
.main-nav {
  z-index: 1;
}
.main-nav__items{
  display: none;
}
.main-nav__item {
  margin: 0.6rem;
}
.main-nav__item:hover {
}
.main-nav__item a,
.mobile-nav__item a {
  color: #388E3C;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.35rem;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 5px solid #388E3C;
}
.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #fff;
  background-color: #E91E63;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #E91E63;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}

/* mobile nav */
.mobile-nav {
  position: fixed;
  /* display: none; */
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav__items {
  width: 80%;
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  position: absolute;
  right: 2.5rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

/* footer */
.main-footer {
  background: #1B5E20;
  grid-row: 3/4;
  min-height: 8rem;
  padding-top: 1rem;
  margin-top: 3rem;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.main-footer__link {
  margin: 0.5rem 0;
}
.main-footer__link a {
  text-decoration: none;
  color: #4CAF50;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: #fff;
}
.button {
  background: #388E3C;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #388E3C;
  cursor: pointer;
}
.button:hover,
.button:active {
  background: #fff;
  color: #388E3C;
}
.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (min-width: 729px) {
  .main-nav__items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .toggle-button {
    display: none;
  }
  .main-footer {
    padding-top: 3rem;
  }
  .main-footer__links {
    flex-flow: row;
  }
  .main-footer__link {
    margin: 0 1rem;
  }
}
