/* colors */
.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
* {
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif;
  margin: 0;
  padding-top: 143px;
}

.backdrop {
  position: fixed;
  display: none;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.main-header {
  width: 100%;
  background-color: #8BC34A;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.main-header > div {
  display: inline-block;
}
.main-header__brand {
  color: #388E3C;
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
  height: 2rem;
}
.main-header__brand img {
  height: 100%;
}
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 72px);
}
.main-nav__items{
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  margin: 0.6rem;
}
.main-nav__item:hover {
}
.main-nav__item a {
  color: #388E3C;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0.35rem;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fff;
  border-bottom: 5px solid #388E3C;
}
.main-nav__item--cta a {
  color: #fff;
  background-color: #E91E63;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #E91E63;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
}
.main-footer {
  background: #1B5E20;
  padding: 2rem;
  margin-top: 3rem;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}
.main-footer__link a {
  text-decoration: none;
  color: #4CAF50;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: #fff;
}
.button {
  background: #388E3C;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #388E3C;
  cursor: pointer;
}
.button:hover,
.button:active {
  background: #fff;
  color: #388E3C;
}
.button:focus {
  outline: none;
}
